.sliderion {
	margin: 20px 0px;
	margin-top: 10px;
	min-height: 300px;
	position: relative;
	overflow: hidden;

	border: 1px solid #ccc;
}
.fa {
	cursor: pointer;
}
.error {
	padding: 5px;
	color: red;
}
ul.all-slides {
	margin: 0px;
	padding: 0px;
	position: relative;
	z-index: 200;
}
ul.all-slides > li {
	margin: 0px;
	padding: 0px;
	position: relative;
}
ul.all-slides > li > img {
	max-width: 100%;
}
.caption {
	padding: 5px 10px;
	font-weight: bold;
	font-size: 16px;
	background-color: #ddd;
	border-bottom: 1px solid #999;
}
.controls {
	height: 36px;
	width: 100%;
	background-color: #ddd;
	text-align: center;
	position: relative;
}

.options {
	position: absolute;
	left: 20px;
	top: 8px;
	font-size: 20px;
}
.options .fa {
	width: 24px;
	text-align: left;
}
.options .fa-volume-up, .options .fa-comment {
	color: #08c;
	text-shadow: 1px 1px 1px #fff;
}

.timing {
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 14px;
	color: #888;
}

.fullscreen-icon {
	float: right;
	cursor: pointer;
}


.sliderion.fullscreen {
  position: fixed;
  z-index: 2000;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background-color: black;
}
.sliderion.fullscreen img {
	width: 100%;
}

.sliderion.fullscreen .caption {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
}

.sliderion.fullscreen .controls {
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 2010;
}

.sliderion.fullscreen .subtitles {
	position: fixed;
	bottom: 80px;
	font-size: 28px;
}

.progress {
	height: 1px;
	width: 0%;
	background-color: #08c;
	position: relative;
	top: -1px;		
}

.sliderion.fullscreen .progress {
	position: fixed;
	bottom: 37px;
	left: 0px;
	right: 0px;
	top: auto;
	z-index: 2020;	
	height: 2px;
}

.sidebar-icon {
	cursor: pointer;
	padding-right: 10px;
	margin-right: 5px;
	border-right: 1px solid #ccc;

	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;		
}

.sidebar {
	position: absolute;
	left: -100px;
	top: 0px;
	bottom: 20px;
	width: 100px;
	z-index: 300;
	overflow: auto;

	background-color: #f2f2f2;
	border-right: 1px solid #ccc;

	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;	
}
.sidebar > li {
	padding: 5px 10px;
	margin: 0px;
	cursor: pointer;
}
.sidebar > li.active {
	background-color: #ffffcc;
}
.sidebar img {
	width: 100%;
}

.sidebar-opened .sidebar {
	left: 0px;
}
.sidebar-opened .sidebar-icon {
	margin-left: 100px;
}

.subtitles {
	position: absolute;
	bottom: 20px;
	left: 0px;
	right: 0px;
	text-align: center;
}
.subtitles > span {
	color: #fff;
	font-weight: bold;

	display: inline;
	padding: 3px 8px;
	background-color: rgba(0,0,0,0.6);
}

.play-overlay {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 300;
	font-size: 48px;
	color: #fff;
	background-color: rgba(0,0,0,0.4);
}
.play-overlay > .fa {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -48px;
	margin-top: -48px;
	width: 40px;
	height: 40px;
	border: 3px solid #fff;
	padding: 25px 20px;
	padding-left: 30px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
}

ul.text-list {
	
}
ul.text-list > li {
	margin-bottom: 4px;
}
code {
	background-color: #eee;
	border: 1px solid #ccc;
	padding: 1px 3px;
}
h4.special {
	color: #08c;
	font-family: helvetica, arial;
	margin: 0px;
	font-size: 16px;
}
